// @import './avatar.scss'


body{
    .avatar {
        display: block;
        width: 200px;
        height: 200px;
        background-size: 200px 200px;
        transform: translate(200px, 200px);
    }
    #root {
        div:nth-of-type(odd){
            background: red;
        }
    }
}
